@font-face {
	font-family: 'LeviReBrushed';
	src: url('../fonts/subset-LeviReBrushed.eot');
	src: url('../fonts/subset-LeviReBrushed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-LeviReBrushed.woff2') format('woff2'),
		url('../fonts/subset-LeviReBrushed.woff') format('woff'),
		url('../fonts/subset-LeviReBrushed.ttf') format('truetype'),
		url('../fonts/subset-LeviReBrushed.svg#LeviReBrushed') format('svg');
	font-weight: normal;
	font-style: normal;
}
